.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #20232a;
  color: white;
  position: relative;
  z-index: 1;
}

.header .logo h1 {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.links ul {
  display: flex;
  gap: 20px;
}

.links ul li {
  list-style: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.links ul li:hover {
  color: #61dafb;
}

.header_buttons button {
  background-color: #61dafb;
  color: #20232a;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}
.login:hover,
.signup:hover {
  opacity: 0.8;
}
.login:active,
.signup:active {
  opacity: 0.6;
}
