html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #222222;
}
.section1,
.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  color: white;
  animation: gradientBackground 5s ease infinite;
}
.section1 {
  height: 60vh;
  margin-top: -40px;
}
.section3 {
  width: 100%;
  min-height: 100vh;
}

.buttons {
  display: flex;
  gap: 10px;
}

.react_img {
  width: 100px;
  height: 100px;
  animation: rotate 3s linear infinite;
  cursor: pointer;
}
.react_img:hover {
  animation: rotate 1s linear infinite;
}
.react_img:active {
  animation: pause;
}
.section_img {
  width: 550px;
  height: 300px;
}
#title {
  font-size: 50px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p,
.react_img {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.button {
  background: transparent;
  border-radius: 3px;
  border: 1px solid #61dafb;
  color: #61dafb;
  margin: 0.5em 1em;
  padding: 0.5em 1em;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
    transform 200ms ease-in-out;
  cursor: pointer;
}
.button:hover {
  background-color: #61dafb;
  color: white;
}
.button:active {
  transform: translateY(2px);
}

.section2,
.section4 {
  background-color: #23272f;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 200px;
  position: relative;
  animation: gradientBackground 5s ease infinite;
}
.user_Interfaces {
  font-family: "Roboto Mono", monospace;
  position: absolute;
  top: 10%;
}

.user_Interfaces h1 {
  font-size: 40px;
}

.user_Interfaces p {
  font-size: 20px;
}
.sec2_img {
  display: flex;
}
.section_img {
  margin-top: 50px;
  margin-bottom: 100px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.section_img:hover,
.section3_img:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.section_img:active,
.section3_img:active {
  transform: scale(1.2);
}
